<div fxLayout="row" fxFlex="1 1 100%" class="content">

    <div class="note-col" fxLayout="column" fxFlex>
        <div fxLayout="row" fxFlex > 
            <div class="col-name-box" fxFLex fxFlexAlign="center">
                    <img fxFlex fxFlexAlign="center" src="../../../assets/images/active.png"/>
            </div>
            <div fxLayout="column" fxFlex>
                <div *ngFor="let note of (notes | notesFilter:'greater':activeDate:null)" [@noteState]="in">
                    <app-note-component  [note-data]="note"></app-note-component>
                </div>
            </div>
        </div>
    </div>

    <div class="note-col" fxLayout="column" fxFlex>
            <div fxLayout="row" fxFlex> 
                    <div class="col-name-box" fxFLex fxFlexAlign="center">
                            <img fxFlex fxFlexAlign="center" src="../../../assets/images/expiring_soon.png"/>
                    </div>
                    <div fxLayout="column" fxFlex>
                         <div *ngFor="let note of (notes | notesFilter:'between':expiredDate:activeDate)" [@noteState]="in">
                            <app-note-component [note-data]="note"></app-note-component>
                        </div> 
                    </div>
                </div>
    </div>
    <div class="note-col" fxLayout="column" fxFlex>
            <div fxLayout="row" fxFlex> 
                    <div class="col-name-box" fxFLex fxFlexAlign="center">
                            <img fxFlex fxFlexAlign="center" src="../../../assets/images/expired.png"/>
                    </div>
                    <div fxLayout="column" fxFlex>
                         <div *ngFor="let note of (notes | notesFilter:'less':expiredDate:null)" [@noteState]="in">
                            <app-note-component [note-data]="note"></app-note-component>
                        </div> 
                    </div>
                </div>
    </div>
</div>