<div class="note shadow-effect" [@noteUpdate]="updateState" >
        <!-- <div fxLayout="row" fxLayoutAlign="end end">
                <mat-icon [ngStyle]="{'color':'gray'}">close</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
                {{noteData.content}}
        </div> -->
        <mat-card class="note-card">
                <mat-card-header>
                        <!-- <mat-card-title>Expiry Date : {{noteData.dateTime | date:"MM/dd/yy"}}</mat-card-title>
                         -->
                </mat-card-header>
                <img *ngIf="noteData.type == '2'" mat-card-image [src]="noteData.image" alt="Photo of a Shiba Inu">
                <mat-card-content>
                        <p>{{noteData.content}}</p>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
                        <button mat-icon-button (click)="openDialog()" color="primary">
                             <mat-icon >edit</mat-icon>   
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteNote()">
                              <mat-icon >delete</mat-icon>  
                        </button>
                </mat-card-actions>
        </mat-card>
</div>