/* .col-name {
    transform:rotate(-90deg);
    color:grey;

} */

.col-name-box {
    margin: 10px;
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
    /* background-color: whitesmoke; */
}

/* .right{
    display: flex;

    flex:.1;
    flex-direction: column;
    justify-content: center;
  } */
  
  /* .col-name{
    color:grey;
    /* display: flex; 
    writing-mode: sideways-lr;
    /* transform: rotate(-90deg); 
    white-space: no-wrap;
  } */