<div class="container" fxLayout="column" fxLayoutGap="20px">
    
     <app-create-component></app-create-component>
     
     <app-notes-component fxFlex="1 1 auto" fxLayout="column"></app-notes-component>
     <!-- <div fxLayout="row" fxFlex="1 1 auto" class="content">

                     <div class="note-col" fxLayout="column" fxFlex>
                             <div fxFlex="15%">
                                     <div class="note shadow-effect">
                                             <div fxLayout="row" fxLayoutAlign="end end">
                                                     <mat-icon [ngStyle]="{'color':'gray'}">close</mat-icon>
                                             </div>
                                     </div>
                             </div>
                             <div fxFlex="15%">
                                     <div class="note shadow-effect">
                                             <div fxLayout="row" fxLayoutAlign="end end">
                                                     <mat-icon [ngStyle]="{'color':'gray'}">close</mat-icon>
                                             </div>
                                     </div>
                             </div>
                     </div>
                     <div class="note-col" fxLayout="column" fxFlex></div>
                     <div class="note-col" fxLayout="column" fxFlex></div>
     
             </div> -->

</div>