<div class="user-page" fxLayout="column">
    <div class="login-form" class="shadow-effect">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <mat-card class="note-card">
                <mat-card-header>
                    <mat-card-title>
                        Login
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row">
                    <mat-form-field fxFlex>
                        <input type="text" formControlName="userName" matInput placeholder="UserName" />
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input type="password" formControlName="password" matInput placeholder="Password" />
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" [disabled]="loginForm.invalid" mat-icon-button color="primary">Submit</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="register-form"></div>
</div>