<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="clear:both" fxFlex="1 1 0">
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="row">
            <span class="mat-h2" [style.color]="'gray'" fxFlexOffset="3%" fxFlex="5%">Notes</span>
        </div>
        <div fxFlex fxLayout="row">
            <button fxFlex="5%" fxFlexOffset="3%" mat-raised-button color="primary" (click)="openDialog()">CREATE</button>
        </div>
    </div>
    <div fxFlex fxLayout="column">
        <app-search-component></app-search-component>
    </div>
</div>