<h1 mat-dialog-title>Create Form</h1>
<form [formGroup]="createForm" (ngSubmit)="onCreateClick(createForm.value)">
    <div mat-dialog-content fxFlexLayout="row">

        <mat-form-field fxFlex>
            <mat-select placeholder="Select Notes Type" formControlName="type">
                <mat-option *ngFor="let type of typeList" [value]="type.id">
                    {{type.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input formControlName="dateTime" matInput [matDatepicker]="picker" placeholder="Select Notes Expiry Date" (dateInput)="onDateInput($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput formControlName="content" placeholder="Enter Notes" />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCloseClick()">Cancel</button>
        <div *ngIf="isNewNote;then create else update"></div>
        <ng-template #create><button mat-button [disabled]="createForm.invalid">Create</button></ng-template>
        <ng-template #update><button mat-button [disabled]="createForm.invalid">Update</button></ng-template>
    </div>
</form>