
    <div fxLayout="row">
            <mat-form-field fxFlex="80%">
                    <input matInput placeholder="Enter Search Text" [(ngModel)]="searchText"/>
                    <mat-icon matSuffix [ngStyle]="{'color':'gray'}">search</mat-icon>
            </mat-form-field>
    </div>
    <div fxFlex fxLayout="row">
            <button fxFlex="5%" mat-raised-button color="primary" (click)="onSearch()">SEARCH</button>
    </div>
