<mat-toolbar fxFlex="1 1 0" color="primary" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">


    <mat-icon fxFlex="2%">menu</mat-icon>
    <h1 fxFlex="85%" [routerLink]="['/note']" routerLinkActive="active" >Notes</h1>
    <mat-icon fxFlex="3%" fxFlexOffset="10%">settings</mat-icon>
    <mat-icon [routerLink]="['/login']" fxFlex>account_circle</mat-icon>


</mat-toolbar>